WcfServiceConsumer/Service References/ISR/ItemServiceFTW2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8099/ItemServiceFTW?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer" />
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer" minOccurs="0" name="GetAllItemsResult" nillable="true" type="q1:ArrayOfrepoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataLayer" minOccurs="0" name="item" nillable="true" type="q2:repoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>